@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 50%;
  height: auto;
  margin-bottom: 4vh;
  border: solid 1px black;
  padding: 20px;
}

.key {
  position: absolute;
  top: 2px;
  right: 10px;
  opacity: 0.6;
}
.key:hover {
  cursor: pointer;
  opacity: 1;
}

input, #senha{
  padding: 5px;
  width: 100%;
  border: 2px solid #909090;
}

#modal{
  background-color: rgb(243, 110, 110);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  margin: 10px;
  gap: 20px;
}

#fechar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#verSenha{
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 2px;
}
